<!--Navbar -->
<nav class="navbar fixed-top navbar-expand-lg dest-nav navbar-dark indigo">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/Rep_dashboard">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patientinfo">Patient Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/appointment">Set Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Out_patient</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Dropdown
          </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default"
            aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="/users/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
  <br>
  <br>
  <br>
  <h1><img src="https://img.icons8.com/nolan/64/front-desk.png"/> </h1>

  <div class="col-md-8 offset-2">
    <div>
      <form class="border border-light p-5" action="/setappointment" method="POST">
        <p class="h4 mb-4"><img src="https://img.icons8.com/nolan/64/user-male--v1.png"/> Patient Appointment</p>
        <%- include('./partials/messages.ejs'); %>
          <div class="dates">
            <label><i class="fas fa-calendar"></i> Date Of Appointment </label><br>
            <input type="date" autocomplete="off" class="form-control" placeholder="Date of appointment" name="doa" ><br>
          </div>

          <!-- First name -->
          <label><i class="fas fa-user"></i> Patient Name </label><br>
          <input type="name" id="name" class="form-control mb-4" placeholder="Patient Name" name="p_name" />

          <!-- Age -->
          <label><i class="fas fa-user-md"></i> Disease </label><br>
          <select class="browser-default custom-select mb-4" name="disease">
            <% if (typeof diseases !== 'undefined' && diseases.length > 0) {%>
              <%for (var i = 0; i < diseases.length; i++) { %>
                <option value="<%= diseases[i].d_id %>"> <%= diseases[i].d_name %> </option>
              <%}%>
            <% } %>
          </select>
          
          <label><i class="fas fa-user-md"></i> Doctor </label><br>
              <select class="browser-default custom-select mb-4" name="doctor">
                <% if (typeof doctors !== 'undefined' && doctors.length > 0) {%>
                  <%for (var i = 0; i < doctors.length; i++) { %>
                    <option value="<%= doctors[i].id %>"> <%= doctors[i].name %> </option>
                  <%}%>
                <% } %>   
              </select>
          
          <button class="btn btn-secondary" type="submit">Post</button>
      </div>
    </form>
  </div>
