  <!--Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg dest-nav navbar-dark indigo">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/Rep_dashboard">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Patient Registration
          </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="/patientinfo">New Patient</a>
            <a class="dropdown-item" href="/outPatient">Out Patient</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Payment
          </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="/labfee">Lab Test</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default"
            aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="/users/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
  <br>
  <br>
  <br>
      <div class="col-md-8 offset-2">
        <div>
          <form class="border border-light p-5" action="/patientdetails" method="POST">
            <p class="h4 mb-4"><img src="https://img.icons8.com/nolan/64/user-male--v1.png"/> Patient Registration</p>
            <%- include('./partials/messages.ejs'); %>
              <div class="dates">
                <label><i class="fas fa-calendar"></i> Date Of Registration </label><br>
                <input type="text" autocomplete="off" id="user1" class="form-control" placeholder="Date Of Registration" name="date"><br>
              </div>

              <!-- First name -->
              <label><i class="fas fa-user"></i> Name </label><br>
              <input type="text" id="name" class="form-control mb-4" placeholder="name" name="name" value="<%= typeof name != 'undefined' ? name : '' %>"/>

              <!-- Age -->
              <label><i class="fas fa-user"></i> Age </label><br>
              <input type="text" id="age" class="form-control mb-4" placeholder="Age" name="age" value="<%= typeof age != 'undefined' ? age : '' %>"/>
              
              <label><i class="fas fa-plus-square"></i> Blood group</label><br>
              <select class="browser-default custom-select mb-4" name="BloodGrp">
                <option value="A+">A+</option>
                <option value="O+">O+</option>
                <option value="B+">B+</option>
                <option value="AB+">AB+</option>
                <option value="A-">A-</option>
                <option value="O-">O-</option>
                <option value="B-">B-</option>
                <option value="AB-">AB-</option>
              </select><br>

              <label><i class="fas fa-user"></i> Gender </label><br>
              <select class="browser-default custom-select mb-4" name="gender">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Others">Others</option>
              </select><br>

              <div class="dates">
                <label><i class="fas fa-calendar"></i> DOB </label><br>
                <input type="text" autocomplete="off" id="user1" class="form-control" placeholder="DOB" name="DOB"><br>
              </div>

              <label><i class="fas fa-mobile"></i> Mobile Number </label><br>
              <input type="text" id="phone" class="form-control mb-4" placeholder="Mobile Number" name="phone" value="<%= typeof phone != 'undefined' ? phone : '' %>"/>
              
              <label><i class="fas fa-address-card"></i> Address </label><br>
              <input type="text" id="address" class="form-control mb-4" placeholder="Address" name="address" value="<%= typeof address != 'undefined' ? address : '' %>"/>

              <label><i class="fas fa-user"></i> Disease </label><br>
              <select class="browser-default custom-select mb-4" name="d_id">
                  <% if (typeof diseases !== 'undefined' && diseases.length > 0) {%>
                    <%for (var i = 0; i < diseases.length; i++) { %>
                      <option value="<%= diseases[i].d_id %>"> <%= diseases[i].d_name %> </option>
                    <%}%>
                  <% } %>
              </select><br>

              <!-- E-mail -->
              <label><i class="fas fa-envelope"></i> E-mail </label><br>
              <input type="text" id="email" class="form-control mb-4" placeholder="E-mail" name="email" value="<%= typeof email != 'undefined' ? email : '' %>" />
              
               <!-- Default checked -->
               <div class="custom-control custom-checkbox">
                <input name="fee" type="checkbox" class="custom-control-input" id="defaultChecked2" checked required>
                <label class="custom-control-label" for="defaultChecked2"><i class="fas fa-hand-holding-usd"> Registration fee: Rs. 500</i></label>
              </div>
              <br>
              
               <label><i class="fas fa-hand-holding-usd"></i> Consultancy Fee </label><br>
              <select class="browser-default custom-select mb-4" name="consultancy_fee">
                  <% if (typeof diseases !== 'undefined' && diseases.length > 0) {%>
                    <%for (var i = 0; i < diseases.length; i++) { %>
                      <option value="<%= diseases[i].consultancy_fee %>"> <%= diseases[i].d_name %> : <%= diseases[i].consultancy_fee %> </option>
                    <%}%>
                  <% } %>
              </select>
              <br>
              
              <button class="btn blue-gradient" type="submit">Register</button>
          </div>
        </form>
      </div>
    </div>
